:root {
  --main-bg-color: rgb(0, 0, 88);
  --main-text-color: rgb(218, 218, 218);
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background: var(--main-bg-color);
}
body {
  overflow: hidden;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  transition: opacity 3s cubic-bezier(0.72, 0.06, 0.51, 0.89);
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  transition: all 1s;
  /* mix-blend-mode: difference; */
}

.landing-msg {
  position: relative;
  z-index: 2;
  background: var(--main-bg-color);
  color: var(--main-text-color);
  height: 400px;
  text-align: center;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
}

.landing-msg-header {
  padding-bottom: 1rem;
}

.landing-msg p {
  padding: 1rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
  width: 60%;
}

.message {
  position: fixed;
  width: 25%;
  text-align: right;
  top: 0;
  right: 0;
  padding: 1rem;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  line-height: 1.2rem;
  color: var(--main-text-color);
  transition: opacity 2s;
}

h1 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.6rem;
  color: var(--main-text-color);
  text-transform: uppercase;
}

h2 {
  font-size: 1.2rem;
  letter-spacing: 0.6rem;
  color: var(--main-text-color);
  text-transform: uppercase;
}

button {
  padding: 1rem 2rem;
  background: transparent;
  color: var(--main-text-color);
  text-transform: uppercase;
  font-weight: 400;
  border: 2px solid var(--main-text-color);
  margin: 4rem 1rem 1rem;
  cursor: pointer;
  border-radius: 0.12em;
  box-sizing: border-box;
  transition: background 0.3s, color 0.3s, opacity 2s;
}

button:hover {
  background: var(--main-text-color);
  color: var(--main-bg-color);
}

.modal-background {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.pop-open {
  transition: all 1s cubic-bezier(0.45, 0.12, 0.29, 0.95);
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.black-box {
  overflow: hidden;
  background: black;
  z-index: 2;
}

.react-player {
  transition: all 3s cubic-bezier(0.72, 0.06, 0.51, 0.89);
  z-index: 2;
}

.footer {
  position: absolute;
  height: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  :root {
    font-size: 92%;
  }
  .landing-msg p {
    padding: 1rem;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    place-items: initial;
  }

  .landing-msg {
    padding: 1.4rem;
    padding-top: 4rem;
    height: 26rem;
  }

  .landing-msg p {
    padding: 1rem;
    font-size: 0.8rem;
    line-height: 1.2rem;
    letter-spacing: 0.2rem;
    width: 100%;
  }

  .landing-msg-header h1 {
    font-size: 1.4rem;
  }

  .footer {
    /* position: relative; */
    bottom: 2rem;
    margin-bottom: 3rem;
  }

  .message {
    width: 90%;
    text-align: center;
    font-size: 0.5rem;
  }
}
